/* This file imports all your scss partials to be compiled in one stylesheet which you can attach to your html.

All the files that are prefixed with an underscore "_name-of-file.scss are called partials - meaning that their css 
isn't compiled unless it's imported into an unprefixed .scss file */
/* are placeholders for storing information that you want to reuse throughout your stylesheet
You can store things like colours, font-stacks, or any css value you think you might want to reuse
SASS uses the '$' to declare variables.*/
/*
@mixin button($bg-color, $hover-color, $text-color){
	background-color: $bg-color;
	color: $text-color;
	padding: 0.5em 1em;
	border-radius: 3px;
	margin: 1em;
	display: inline-block;
	text-decoration: none;
	transition: all 150ms ease-in-out;
	// references the parent selector using the '&'
	&:hover {
		background-color: $hover-color;
	}
}
*/
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 9, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
html {
  box-sizing: border-box;
  background-color: #666;
  font-family: Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 22, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 26, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
body {
  margin: 0;
  padding: 0; }

/* line 33, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right {
  top: 0;
  width: 300px;
  height: 100%; }

/* line 38, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right li {
  display: block;
  text-align: center;
  border-bottom: solid 1px #3184a1;
  border-top: solid 1px #b5dbe9; }

/* line 44, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right li:first-child {
  border-top: none; }

/* line 47, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right li:last-child {
  border-bottom: none; }

/* line 50, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right a {
  display: block;
  padding: 10px;
  font-size: 18px; }

/* line 55, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right button.close-menu {
  margin: 10px 0;
  padding: 10px 30px;
  background-color: #3184a1;
  color: #fff; }

/* line 61, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right {
  right: -300px; }

/* line 64, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
body.smr-open nav.slide-menu-right {
  right: 0; }

/* line 70, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 4em;
  position: relative;
  background-color: #e67e22; }

/* line 79, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  top: 0.75em;
  position: relative; }

/* line 87, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header i {
  font-size: 2em; }

/* line 91, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header .search {
  float: left;
  left: 1em;
  top: 0.5em;
  position: absolute; }

/* line 98, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header .burger {
  float: right;
  right: 1em;
  bottom: 0.5em;
  position: absolute; }

/* line 107, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.landing {
  width: 100%
  /*background: transparent url("../img/bg.jpg") no-repeat center top;
	background-size: cover;*/ }

/* line 113, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog {
  margin: 0;
  float: left;
  background-color: #666;
  width: 25%;
  height: 100%;
  display: inline-block;
  padding: 0 2.5% 5em; }

/* line 124, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog:nth-child(n+2) {
  border-left: 3px solid #eee;
  height: 100%; }

/* line 129, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog h2 {
  background-color: #e67e22;
  text-align: center;
  padding: 0.25em 0;
  font-size: 1.25em; }

/* line 136, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog p {
  color: #fff; }

/* line 142, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.graph-area {
  background-color: #eee;
  float: left;
  width: 100%; }

/* line 148, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area1 {
  width: 40%;
  float: left;
  text-align: right; }

/* line 154, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.graph {
  margin: 5em 0;
  position: relative; }

/* line 159, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area2 {
  margin: 5em 0 0;
  width: 60%;
  float: left;
  padding: 0 10%; }

/* line 166, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area2 h3 {
  position: relative;
  display: inline-block;
  padding: 0.25em;
  color: #e67e22;
  background-color: #000; }

