/* This file imports all your scss partials to be compiled in one stylesheet which you can attach to your html.

All the files that are prefixed with an underscore "_name-of-file.scss are called partials - meaning that their css 
isn't compiled unless it's imported into an unprefixed .scss file */
/* are placeholders for storing information that you want to reuse throughout your stylesheet
You can store things like colours, font-stacks, or any css value you think you might want to reuse
SASS uses the '$' to declare variables.*/
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 9, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
html {
  box-sizing: border-box;
  background-color: #666;
  font-family: Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 22, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 26, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
body {
  margin: 0;
  padding: 0; }
  /* line 30, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
  body.noscript .close-btn, body.noscript .toggle-btn {
    display: none; }

/* line 35, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
section {
  margin: 0;
  padding: 0; }

/* line 41, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 4em;
  position: fixed;
  background-color: #e67e22;
  z-index: 3; }

/* line 50, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header h1 img {
  width: 80px; }

/* line 55, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  top: 0.25em;
  position: relative; }

/* line 62, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.donate {
  font-size: 2em;
  float: left;
  left: 0.5em;
  top: 0.33em;
  position: absolute; }

/* line 73, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.toggle-btn, .close-btn, .toggle-btn:visited, .close-btn:visited {
  color: #000; }

/* line 77, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
header {
  padding: 0 1em; }

/* line 82, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
header ul li a, header ul li a:visited {
  text-decoration: none;
  color: #fff; }

/* line 89, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.toggle-btn {
  position: absolute;
  right: 1em;
  top: 1.25em; }

/* line 95, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.navigation ul {
  margin: 0;
  padding: 0; }
  /* line 97, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
  .navigation ul li {
    list-style-type: none; }
    /* line 99, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
    .navigation ul li:first-child {
      border-top: 1px solid #fff; }
    /* line 102, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
    .navigation ul li a {
      display: block;
      padding: 0.5em 1em;
      text-align: center;
      border-bottom: 1px solid #fff;
      text-decoration: none; }

/* line 113, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.toggle-btn, .close-btn {
  text-color: #000;
  height: 40px;
  width: 40px; }
  /* line 117, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
  .toggle-btn span, .close-btn span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block; }
  /* line 120, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
  .toggle-btn i, .close-btn i {
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 10px; }

/* line 127, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.close-btn {
  margin: 1em; }

@media only screen and (max-width: 60em) {
  /* line 132, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
  .site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100; }
    /* line 137, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
    .site-wrapper .sliding-canvas {
      width: 100%;
      height: 100%;
      position: relative;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      transition: all 300ms ease-in-out; }
    /* line 144, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
    .site-wrapper[data-state="slide-open"] .sliding-canvas {
      -webkit-transform: translateX(-30%);
          -ms-transform: translateX(-30%);
              transform: translateX(-30%); }
      /* line 146, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
      .site-wrapper[data-state="slide-open"] .sliding-canvas .toggle-btn {
        display: none; }
    /* line 151, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
    .site-wrapper[data-state="slide-open"] {
      overflow: visible; }

  /* line 156, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
  .slide-menu {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 1.25em;
    bottom: 0;
    right: -30%;
    min-height: 600px; }
 }

@media only screen and (min-width: 60em) {
  /* line 169, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
  .toggle-btn, .close-btn {
    display: none; }
 }

/* line 175, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
body.noscript .slide-menu {
  position: static;
  right: auto; }

/* line 182, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.landing {
  width: 100%
  /*background: transparent url("../img/bg.jpg") no-repeat center top;
	background-size: cover;*/ }

/* line 188, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog {
  margin: 0;
  float: left;
  background-color: #666;
  width: 25%;
  height: 100%;
  display: inline-block;
  padding: 0 2.5% 1.5em; }

/* line 199, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog:nth-child(n+2) {
  border-left: 3px solid #eee;
  height: 100%; }

/* line 204, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog h2 {
  background-color: #e67e22;
  text-align: center;
  padding: 0.25em 0;
  font-size: 1.25em; }

/* line 211, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog p {
  color: #fff; }

/* line 215, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog a {
  display: block;
  text-decoration: none; }

/* line 220, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.button {
  text-align: center;
  background-color: #bbb;
  width: 100px;
  height: 50px;
  display: block;
  border-radius: 10px;
  margin: 0 auto; }

/* line 232, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.button, .button:visited {
  font-size: 2.5em;
  color: #333; }

/* line 239, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.graph-area {
  background-color: #eee;
  float: left;
  width: 100%; }

/* line 245, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area1 {
  width: 40%;
  float: left;
  text-align: right; }

/* line 251, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area1 img {
  padding-left: 5%;
  width: 100%; }

/* line 256, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.graph {
  margin: 5em 0;
  position: relative; }

/* line 261, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area2 {
  margin: 5em 0 0;
  width: 60%;
  float: left;
  padding: 0 10%; }

/* line 268, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area2 h3 {
  display: inline-block;
  padding: 0.25em;
  color: #e67e22;
  background-color: #000; }

/* line 275, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area2 p {
  margin: 0;
  padding: 0; }

/* line 279, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area2 h4 {
  background-color: #e67e22;
  color: #000;
  padding: 0.25em;
  display: inline-block; }

/* line 288, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.informed {
  position: relative;
  overflow: hidden;
  margin-bottom: -0.25em;
  width: 100%
  /*background: transparent url("../img/bg.jpg") no-repeat center top;
	background-size: cover;*/ }

/* line 297, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.informed img {
  width: 100%; }

/* line 303, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.footer {
  width: 100%;
  height: 3em;
  background-color: #e67e22;
  overflow: none;
  text-align: left; }

/* line 311, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.footer-logo {
  float: left;
  height: 2.5em;
  margin: 0.25em;
  margin-left: 1em; }

/* line 318, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 1em; }

/* line 324, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.social {
  border-radius: 50px;
  float: right;
  width: 40px;
  margin: 5px; }

/* line 333, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.nav-sixth {
  display: inline-block;
  float: left;
  width: 16.6666%;
  border: 2px solid #000; }

/* line 340, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.news div {
  text-align: center; }

/* line 344, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.news {
  width: 100%;
  padding: 0 20%;
  background-color: #999;
  padding-bottom: 3em; }

/* line 351, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.news h2 {
  padding: 0.5em;
  display: inline-block;
  width: 100%;
  background-color: #e67e22; }

/* line 358, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.news h3 {
  padding: 0.5em;
  margin: 0;
  background-color: #333;
  color: #e67e22;
  display: inline-block; }

/* line 366, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.news p {
  margin-bottom: 2em; }

/* line 373, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.second {
  background-color: #bbb; }

/* line 379, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.fourth {
  background-color: #bbb; }

/* line 385, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.sixth {
  background-color: #bbb; }

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?91741979');
  src: url('../fonts/icons.eot?91741979#iefix') format('embedded-opentype'), url('../fonts/icons.woff?91741979') format('woff'), url('../fonts/icons.ttf?91741979') format('truetype'), url('../fonts/icons.svg?91741979#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?91741979#fontello') format('svg');
  }
}
*/
/* line 22, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/icons */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/icons */
.icon-menu:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/icons */
.icon-plus-squared:before {
  content: '\e803'; }

/* '' */
@font-face {
  font-family: 'push-menu-custom';
  src: url('../fonts/push-menu-custom.eot?95902514');
  src: url('../fonts/push-menu-custom.eot?95902514#iefix') format('embedded-opentype'), url('../fonts/push-menu-custom.woff?95902514') format('woff'), url('../fonts/push-menu-custom.ttf?95902514') format('truetype'), url('../fonts/push-menu-custom.svg?95902514#push-menu-custom') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'push-menu-custom';
    src: url('../font/push-menu-custom.svg?95902514#push-menu-custom') format('svg');
  }
}
*/
/* line 22, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/push-menu-custom */
[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "push-menu-custom";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/push-menu-custom */
.i-menu:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/push-menu-custom */
.i-close:before {
  content: '\e801'; }

/* '' */