/* This file imports all your scss partials to be compiled in one stylesheet which you can attach to your html.

All the files that are prefixed with an underscore "_name-of-file.scss are called partials - meaning that their css 
isn't compiled unless it's imported into an unprefixed .scss file */
/* are placeholders for storing information that you want to reuse throughout your stylesheet
You can store things like colours, font-stacks, or any css value you think you might want to reuse
SASS uses the '$' to declare variables.*/
/*
@mixin button($bg-color, $hover-color, $text-color){
	background-color: $bg-color;
	color: $text-color;
	padding: 0.5em 1em;
	border-radius: 3px;
	margin: 1em;
	display: inline-block;
	text-decoration: none;
	transition: all 150ms ease-in-out;
	// references the parent selector using the '&'
	&:hover {
		background-color: $hover-color;
	}
}
*/
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 9, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
html {
  box-sizing: border-box;
  background-color: #666;
  font-family: Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 22, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 26, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
body {
  margin: 0;
  padding: 0; }

/* line 31, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
section {
  padding: 0;
  margin: 0; }

/* line 38, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
body {
  overflow-x: hidden; }

/* line 41, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
#wrapper {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  transition: all 0.3s; }

/* line 52, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
section p:last-child {
  margin-bottom: 0; }

/* line 55, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
section:last-child {
  margin-bottom: 0; }

/* line 58, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
section.toggle {
  text-align: center; }

/* line 61, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }

/* general style for all menus */
/* line 74, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.menu {
  position: fixed;
  z-index: 20;
  background-color: #67b5d1;
  overflow: hidden;
  transition: all 0.3s; }

/* line 85, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 90, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.menu a {
  font-weight: 300;
  color: #fff; }

/* line 94, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
button.close-menu {
  background-color: #3184a1;
  color: #fff; }

/* line 98, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
button.close-menu:focus {
  outline: none; }

/* line 102, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right {
  top: 0;
  width: 300px;
  height: 100%; }

/* line 107, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right li {
  display: block;
  text-align: center;
  border-bottom: solid 1px #3184a1;
  border-top: solid 1px #b5dbe9; }

/* line 113, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right li:first-child {
  border-top: none; }

/* line 116, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right li:last-child {
  border-bottom: none; }

/* line 119, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right a {
  display: block;
  padding: 10px;
  font-size: 18px; }

/* line 124, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right button.close-menu {
  margin: 10px 0;
  padding: 10px 30px;
  background-color: #3184a1;
  color: #fff; }

/* line 130, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
nav.slide-menu-right {
  right: -300px; }

/* line 133, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
body.smr-open nav.slide-menu-right {
  right: 0; }

/* line 140, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 4em;
  position: relative;
  background-color: #e67e22; }

/* line 149, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  top: 0.75em;
  position: relative; }

/* line 157, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header i {
  font-size: 2em; }

/* line 161, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header .search {
  float: left;
  left: 1em;
  top: 0.25em;
  position: absolute; }

/* line 168, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.header .burger {
  float: right;
  right: 1em;
  bottom: 0.5em;
  position: absolute; }

/* line 177, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.landing {
  width: 100%
  /*background: transparent url("../img/bg.jpg") no-repeat center top;
	background-size: cover;*/ }

/* line 183, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog {
  margin: 0;
  float: left;
  background-color: #666;
  width: 25%;
  height: 100%;
  display: inline-block;
  padding: 0 2.5% 5em; }

/* line 194, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog:nth-child(n+2) {
  border-left: 3px solid #eee;
  height: 100%; }

/* line 199, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog h2 {
  background-color: #e67e22;
  text-align: center;
  padding: 0.25em 0;
  font-size: 1.25em; }

/* line 206, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.blog p {
  color: #fff; }

/* line 212, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.graph-area {
  background-color: #eee;
  float: left;
  width: 100%; }

/* line 218, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area1 {
  width: 40%;
  float: left;
  text-align: right; }

/* line 224, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area1 img {
  padding-left: 5%;
  width: 100%; }

/* line 229, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.graph {
  margin: 5em 0;
  position: relative; }

/* line 234, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area2 {
  margin: 5em 0 0;
  width: 60%;
  float: left;
  padding: 0 10%; }

/* line 241, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area2 h3 {
  display: inline-block;
  padding: 0.25em;
  color: #e67e22;
  background-color: #000; }

/* line 248, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area2 p {
  margin: 0;
  padding: 0; }

/* line 253, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.area2 h4 {
  background-color: #e67e22;
  color: #000;
  padding: 0.25em;
  display: inline-block; }

/* line 262, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.informed {
  position: relative;
  margin-bottom: -0.25em;
  width: 100%
  /*background: transparent url("../img/bg.jpg") no-repeat center top;
	background-size: cover;*/ }

/* line 270, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.informed img {
  width: 100%; }

/* line 276, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.footer {
  width: 100%;
  height: 3em;
  background-color: #e67e22; }

/* line 284, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.sixth {
  display: inline-block;
  float: left;
  width: 16.66%;
  border: 2px solid #000; }

/* line 291, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.news div {
  text-align: center; }

/* line 295, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.news {
  width: 100%;
  padding: 0 20%;
  background-color: #999;
  padding-bottom: 3em; }

/* line 302, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.news h2 {
  padding: 0.5em;
  display: inline-block;
  width: 100%;
  background-color: #e67e22; }

/* line 309, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.news h3 {
  padding: 0.5em;
  margin: 0;
  background-color: #333;
  color: #e67e22;
  display: inline-block; }

/* line 317, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.news p {
  margin-bottom: 2em; }

/* line 321, /Users/birchy009/Desktop/GD-Y3S2/Interactive Des 5/ucsusa/scss/components/main */
.second {
  background-color: #bbb; }
