// Variables
/* are placeholders for storing information that you want to reuse throughout your stylesheet
You can store things like colours, font-stacks, or any css value you think you might want to reuse
SASS uses the '$' to declare variables.*/

$pri-bg: #000;

$pri-icon: #ff0;

$notification: #f00;

$pri-type: #fff;
$sec-type: #000;

$pri-font-size: 3em;
$sec-font-size: 0.5em;

// Font Stacks
$pri-font: Helvetica, Arial, sans-serif;
$sec-font: serif;