// Variables
/* are placeholders for storing information that you want to reuse throughout your stylesheet
You can store things like colours, font-stacks, or any css value you think you might want to reuse
SASS uses the '$' to declare variables.*/

$bg1: #ecf0f1;//clouds
$bg2: #bdc3c7;//silver
$dark-bg: #666;

$pri-color: #4682B4;//light blue
$sec-color: #2c3e50;//dark blue

$pri-type: #fff;
$sec-type: #000;

$donate: #f1c40f;

// Font Stacks
$pri-font: 'Quicksand', Arial, sans-serif;

// Media Query Variables
// Usage: 
// @media #{$mobile} {
//   background: red;
// }
$mobile: "only screen and (min-width: 20em)"; //320px
$mobile-landscape: "only screen and (min-width: 30em)"; //480px
$tablet: "only screen and (min-width: 37.5em)"; //600px
$tablet-landscape: "only screen and (min-width: 60em)"; //960px
$desktop-small: "only screen and (min-width: 75em)"; //1200px
$desktop: "only screen and (min-width: 87.5em)"; //1400px
$desktop-large: "only screen and (min-width: 100em)"; //1600px
$desktop-xlarge: "only screen and (min-width: 110em)"; //1760px