// Main

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	background-color: $pri-bg;

	font-family: $pri-font;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

section {
	padding: 0;
	margin: 0;
}

//												Nav

body {
    overflow-x: hidden
}
#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section p:last-child {
    margin-bottom: 0
}
section:last-child {
    margin-bottom: 0
}
section.toggle {
    text-align: center
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

/* general style for all menus */


nav.menu {
    position: fixed;
    z-index: 20;
    background-color: #67b5d1;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.menu a {
    font-weight: 300;
    color: #fff;
}
button.close-menu {
    background-color: #3184a1;
    color: #fff;
}
button.close-menu:focus {
    outline: none
}

nav.slide-menu-right {
    top: 0;
    width: 300px;
    height: 100%;
}
nav.slide-menu-right li {
    display: block;
    text-align: center;
    border-bottom: solid 1px #3184a1;
    border-top: solid 1px #b5dbe9;
}
nav.slide-menu-right li:first-child {
    border-top: none
}
nav.slide-menu-right li:last-child {
    border-bottom: none
}
nav.slide-menu-right a {
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.slide-menu-right button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #3184a1;
    color: #fff;
}
nav.slide-menu-right {
    right: -300px
}
body.smr-open nav.slide-menu-right {
    right: 0
}


//  											Header

.header { 
	padding: 0;
	margin: 0;
	width: 100%;
	height: 4em;
	position: relative;
	background-color: $pri-color;
	z-index: 3;
}

.header h1 img {
	width: 80px;
}


.header h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	top: 0.33em;
	position: relative;
}


.header i {
	font-size: 2em;
}

.header .search {
	float: left;
	left: 1em;
	top: 0.25em;
	position: absolute;
}

.header .burger {
	float: right;
	right: 1em;
	bottom: 0.5em;
	position: absolute;
}

.header a:visited {
	color: #000;
}

//  											Main

.landing {
	width: 100%;
	/*background: transparent url("../img/bg.jpg") no-repeat center top;
	background-size: cover;*/
}

.blog {
	margin: 0; 
	float: left;
	background-color: $pri-bg;
	width: 25%;
	height: 100%;
	display: inline-block;

	padding: 0 2.5% 1.5em;	
}

.blog:nth-child(n+2) {
	border-left: 3px solid $accent;
	height: 100%;
}

.blog h2 {
	background-color: $pri-color;
	text-align: center;
	padding: 0.25em 0;
	font-size: 1.25em;
}

.blog p {
	color: $pri-type;
}

.blog a {
	display: block;
	text-decoration: none;
}

.button {
	text-align: center;
	background-color: #bbb;
	width: 100px;
	height: 50px;
	display: block;
	border-radius: 10px;

	margin: 0 auto;
}

.button,
.button:visited {
	font-size: 2.5em;
	color: #333;
}

//  											Graph

.graph-area {
	background-color: $accent;
	float: left;
	width: 100%;
}

.area1 {
	width: 40%;
	float: left;
	text-align: right;
}

.area1 img {
	padding-left: 5%;
	width: 100%;
}

.graph {
	margin: 5em 0;
	position: relative;
}

.area2 {
	margin: 5em 0 0;
	width: 60%;
	float: left;
	padding: 0 10%;
}

.area2 h3 {
	display: inline-block;
	padding: 0.25em;
	color: $pri-color;
	background-color: #000;
}

.area2 p {
	margin: 0;
	padding: 0;
}

.area2 h4 {
	background-color: $pri-color;
	color: $sec-type;
	padding: 0.25em;
	display: inline-block;
}

//  											Informed

.informed {
	position: relative;
	overflow: hidden;
	margin-bottom: -0.25em;
	width: 100%;
	/*background: transparent url("../img/bg.jpg") no-repeat center top;
	background-size: cover;*/
}

.informed img {
	width: 100%;
}

//  											Footer

.footer {
	width: 100%;
	height: 3em;
	background-color: $pri-color;
}

//  											About Page

.nav-sixth {
	display: inline-block;
	float: left;
	width: 16.6666%;
	border: 2px solid #000;
}

.news div {
	text-align: center;
}

.news {
	width: 100%;
	padding: 0 20%;
	background-color: #999;
	padding-bottom: 3em;
}

.news h2 {
	padding: 0.5em;
	display: inline-block;
	width: 100%;
	background-color: $pri-color;
}

.news h3 {
	padding: 0.5em;
	margin: 0;
	background-color: #333;
	color: $pri-color;
	display: inline-block;
}

.news p {
	margin-bottom: 2em;
}

.first {

}
.second {
	background-color: #bbb;
}
.third {

}
.fourth {
	background-color: #bbb;
}
.fifth {

}
.sixth {
	background-color: #bbb;
}