// Main

@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	background-color: $pri-bg;
	font-family: $pri-font;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn,
  &.noscript .toggle-btn {
    display: none;
  }
  @include font;
}

section {
	@include zero;
	position: relative;
}

//  																		Header

h1 span {
	@include element-invisible;
}

.header { 
	@include zero;
	width: 100%;
	height: 4em;
	position: absolute;
	background-color: $pri-color;
	z-index: 10;
}

.header h1 {
	text-align: center;
	@include zero;
	top: 0.25em;
}

.header h1 img {
	position: absolute;
	top: 0.33em;
}

.donate-text {
	display: inline-block;
	font-size: 1.25em;
	margin: 0.5em 0 0 0.5em;
	padding: 0.5em 0.75em;
	border-radius: 5px;
	font-weight: 300;
	color: $pri-type;
	background-color: $pri-bg;
	@include transition(300ms, ease-in-out);
}

.donate-text:hover {
	color: $pri-bg;
	background-color: $pri-type;
	font-weight: 400;
}

.toggle-btn,
.close-btn,
.toggle-btn:visited,
.close-btn:visited {
	color: #000;
}

.header {
  padding: 0 1em;
}

@media #{$mobile} {
	.header .small-logo {
		display: inline-block;
		width: 80px;
		margin-left: -40px;
	}
	.header .large-logo {
		display: none;
	}
}

@media #{$tablet-landscape} {
	.header .small-logo {
		display: none;
	}
	.header .large-logo {
		width: 500px;
		margin-left: -250px;
		display: inline-block;
	}
}

//																			Nav

.toggle-btn {
  position: absolute;
  right: 1em;
  top: 0.75em;
}

.navigation ul {
  @include zero;
  text-align: left;
  li {
      list-style-type: none;
      font-size: 1.5em;
      a {
        display: block;
        padding: 0.5em;
        padding-left: 2%;
        text-decoration: none;
      }//a
    }//li
}//navigation ul

.i-menu {
	font-size: 2em;
	color: $pri-bg;
}

.i-close {
	font-size: 2em;
	color: $pri-color;
}

.i-menu:hover,
.i-close:hover {
	color: $pri-type;
}

.toggle-btn,
.close-btn {
  height: 40px;
  width: 40px;
  span {
    @include hide-text;
  }//span
}//btn

.site-wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
	z-index: 100;
	.sliding-canvas{
	  width: 100%;
	  height: 100%;
	  position: relative;
	  transform: translateX(0);
	  @include ease(all, 300ms, ease-in-out);
	}
	&[data-state="slide-open"] .sliding-canvas{
	  transform: translateX(-30%);
	  .toggle-btn {
	    display: none;
	  }
	}

	&[data-state="slide-open"] {
	  overflow: visible;
	  .toggle-btn {
	  	display: none;
	  }
	}
	 
	.slide-menu {
	  position: absolute;
	  width: 30%;
	  height: 100%;
	  top: 0;
	  padding: 0.75em 2%;
	  bottom: 0;
	  right: -30%;
	  min-height: 600px;
	}
}

.header ul li a,
.header ul li a:visited {
	text-decoration: none;
	color: $pri-type;
	@include transition(300ms, ease);
}

.header ul li a:hover {
	color: $pri-color;
}

body.noscript .slide-menu{
  position: static;
  right: auto;
}

@media #{$mobile} {
	.site-wrapper{
		&[data-state="slide-open"] .sliding-canvas{
		  transform: translateX(-100%);
		}
		.slide-menu {
		  width: 100%;
		  right: -100%;
		}
	}
}

@media #{$mobile-landscape} {
	.site-wrapper{
		&[data-state="slide-open"] .sliding-canvas {
	  	transform: translateX(-30%);
		}
		.slide-menu {
		  width: 30%;
		  right: -30%;
		}
	}
}

//  																																			MAIN INDEX

.landing {
	width: 100%;
	background: transparent url("../images/1600x900.jpg") no-repeat center center;
	background-size: cover;
	display: inline-block;
	padding: 20em 0;
}

.blog {
	margin: 0; 
	float: left;
	background-color: $pri-bg;
	height: 300px;
	display: inline-block;	
}

.blog:nth-child(n+2) {
	border-left: 3px solid $accent;
}

.blog h2 {
	background-color: $pri-color;
	text-align: center;
	padding: 0.25em 0;
	font-size: 1.25em;
}

.blog p {
	color: $pri-type;
	font-size: 1em;
}

.blog a {
	display: block;
	text-decoration: none;
}

.button {
	text-align: center;
	background-color: $button;
	width: 100px;
	height: 50px;
	display: block;
	border-radius: 10px;
	font-weight: 800;
	margin: 0 auto;
	padding-bottom: 1.4em;
	@include transition(200ms, ease);
}

.button,
.button:visited {
	font-size: 2.5em;
	color: $button-text;
}

.button:hover {
	color: $button;
	background-color: $button-text;
}

@media #{$mobile} {
	.blog {
		width: 100%;
		padding: 2em 10% 1.5em;
	}
	.blog:nth-child(n+2) {
		border-left: none;
		border-top: 3px solid $accent;
	}
}

@media #{$tablet} {
	.blog {
		width: 50%;
		padding: 2em 5% 1.5em;
		&:nth-child(n+1) {
			border-left: none;
			border-bottom: 3px solid $accent;
			border-top: none;
		}
		&:nth-child(even) {
			border-left: 3px solid $accent;
		}
	}

}

@media #{$desktop-small} {
	.blog {
		width: 25%;
		padding: 2em 2.5% 1.5em;
		&:nth-child(n+2) {
			border-left: 3px solid $accent;
		}
	}
}

//  											Graph

.graph-area {
	background-color: $accent;
	float: left;
	width: 100%;
}

.area1 {
	width: 40%;
	float: left;
	text-align: right;
}

.area1 img {
	padding-left: 5%;
	width: 100%;
}

.graph {
	margin: 5em 0;
	position: relative;
}

.area2 {
	margin: 4em 0 0;
	width: 60%;
	float: left;
	padding: 0 15% 0 10%;
}

.area2 h3 {
	display: inline-block;
	padding: 0.5em;
	color: $pri-color;
	background-color: #000;
}

.area2 p {
	@include zero;
}

.area2 h4 {
	background-color: $pri-color;
	color: $sec-type;
	padding: 0.50em;
	display: inline-block;
	@include transition(200ms, ease);
}

.area2 h4:hover {
	background-color: $sec-type;
	color: $pri-color;
}

//  																														Informed

.informed {
	position: relative;
	overflow: hidden;
	margin-bottom: -0.25em;
	width: 100%;
	/*background: transparent url("../img/bg.jpg") no-repeat center top;
	background-size: cover;*/
}

.informed img {
	width: 100%;
}

//  																																	Footer

.footer {
	width: 100%;
	height: 3em;
	position: relative;
	background-color: $pri-color;
	text-align: left;
}

.footer-logo {
	float: left;
	height: 2.5em;
	margin: 0.25em;
	margin-left: 1em;
}

.footer ul {
	list-style-type: none;
	@include zero;
	margin-right: 1em;
}

.social {
	border-radius: 50px;
	float: right;
	width: 40px;
	margin: 5px;
	color: $pri-type;
	font-size: 2em;
}

@media #{$mobile} {
	.footer .small-logo {
		display: inline-block;
		width: 60px;
	}
	.footer .large-logo {
		display: none;
	}
}

@media #{$mobile-landscape} {
	.footer .small-logo {
		display: none;
	}
	.footer .large-logo {
		width: 400px;
		display: inline-block;
	}
}

@media #{$tablet-landscape} {
	.footer .small-logo {
		display: inline-block;
		width: 60px;
	}
	.footer .large-logo {
		display: none;
	}
}

//  																														About Pages

.news ul {
	padding-left: 20px;
}

.news li {
	margin-bottom: 0.5em;
}

.news a,
.news a:visited {
	color: $sec-bg;
}

.news a:hover {
	color: $pri-color;
}

.nav-about {
	padding-top: 4em;
	z-index: 5;
}

.nav-sixth {
	display: inline-block;
	float: left;
	width: 16.6666%;
	border: 2px solid #000;
	@include transition(200ms, ease-in-out);
}

.nav-sixth:hover {
	padding-top: 2em;
}

.news h2 {
	text-align: center;
}

.news {
	width: 100%;
	padding: 0 20%;
	background-color: #999;
	padding-bottom: 2em;
}

.news h2 {
	letter-spacing: 1px;
	padding: 0.5em;
	display: inline-block;
	width: 100%;
	background-color: $pri-color;
}

.news h3 {
	letter-spacing: 1px;
	padding: 0.5em;
	margin: 0.5em 0 0;
	background-color: $sec-type;
	color: $pri-color;
	display: inline-block;
	width: 100%;
}

.news h4 {
	@include zero;
	margin-top: 0.5em;
}

.news p {
	margin: 0.5em 0;
	line-height: 130%;
}

.second,
.fourth,
.sixth {
	background-color: $button;
	h3 {
		background-color: $pri-bg;
	}
}

.to-top {
	text-decoration: none;
}

.to-top span {
	color: $pri-bg;
	border: 4px solid $pri-bg;
	padding: 0.75em;
	bottom: 1.5em;
	position: absolute;
	right: 1.5em;
	font-weight: 700;
	@include transition(100ms, ease);
}

.to-top span:hover {
	color: $pri-color;
	border: 4px solid $pri-color;
}

//																															GET INVOLVED

.get-involved {
	background-color: $button-text;
	color: $pri-type;
	text-align: center;
}

.get-involved h3 {
	background: none;
	font-size: 2em;
	margin-top: 0;
	padding-top: 0;
}

.get-involved a {
	text-decoration: none;
}

.involve-link,
.involve-link:visited {
	color: $pri-type;
	font-size: 1.5em;
	border-bottom: 2px solid #fff;
	display: inline-block;
	@include zero;
	margin-top: 0.5em;

}

.involve-link:hover {
	color: $pri-color;
}