<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} • {% endif %}UCS • USA</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="noscript">
  <div class="site-wrapper" data-state="slide-closed">
    <div class="sliding-canvas">

      <header class="header">
        <h1>Push Menu</h1>

        <a class="toggle-btn" href="#"><i class="i-menu"></i><span>Menu</span></a>

        <nav class="navigation slide-menu">
        <a class="close-btn" href="#"><i class="i-close"></i><span>Close</span></a>

          <ul>
              <li><a href="{{site.baseurl}}/index.html">Home</a></li>
              <li><a href="{{site.baseurl}}/ourwork.html">Our Work</a></li>
              <li><a href="{{site.baseurl}}/about.html">About</a></li>
              <li><a href="{{site.baseurl}}/takeaction.html">Take Action</a></li>
              <li><a href="{{site.baseurl}}/subcribe.html">Subscribe</a></li>
          </ul>
        </nav>
      </header><!--header-->

<!-- old nav
		<section class="header">

			<i class="donate icon-plus-squared"></i>

			<h1><a href="{{site.baseurl}}/index.html"><img src="fonts/logo-black.svg" alt=""></a></h1>

			<a href="{{site.baseurl}}/about.html"><i class="burger icon-menu toggle"></i></a>

		</section>
-->

		{{content}}

		<section class="footer">

			<img class="footer-logo" src="fonts/logo-black.svg" alt="">

			<ul>
				<li><a href="#"><img class="social" src="http://placehold.it/50x50" alt=""></a></li>
				<li><a href="#"><img class="social" src="http://placehold.it/50x50" alt=""></a></li>
				<li><a href="#"><img class="social" src="http://placehold.it/50x50" alt=""></a></li>
				<li><a href="#"><img class="social" src="http://placehold.it/50x50" alt=""></a></li>
			</ul>

		</section><!--footer-->

	</div><!--sliding-canvas-->
  </div><!--site-wrapper-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>