<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} • {% endif %}UCS • USA</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body class="noscript">
  <div class="site-wrapper" data-state="slide-closed">
    <div class="sliding-canvas">

      <section class="header" id="top">

        <a href="{{site.baseurl}}/donate/"><h3 class="donate-text">Donate</h3></a>

        <h1><a href="{{site.baseurl}}/">
            <img class="large-logo" src="{{site.baseurl}}/fonts/logos/large-white.svg" alt="">
            <img class="small-logo" src="{{site.baseurl}}/fonts/logos/logo-white.svg" alt="">
          </a>
          <span>UCSUSA</span>
        </h1>

        <a class="toggle-btn" href="#"><i class="i-menu"></i><span>Menu</span></a>

        <nav class="navigation slide-menu">
          
          <a class="close-btn" href="#"><i class="i-close"></i><span>Close</span></a>

          <ul>
              <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
              <li><a href="{{site.baseurl}}/ourwork/" class="{% if page.url == '/ourwork/' %}current{% endif %}">Our Work</a></li>
              <li><a href="{{site.baseurl}}/about/" class="{% if page.url == '/about/' %}current{% endif %}">About</a></li>
              <li><a href="{{site.baseurl}}/takeaction/" class="{% if page.url == '/takeaction/' %}current{% endif %}">Take Action</a></li>
              <li><a href="{{site.baseurl}}/subscribe/" class="{% if page.url == '/subscribe/' %}current{% endif %}">Subscribe</a></li>
              <li><a href="{{site.baseurl}}/donate/" class="{% if page.url == '/donate/' %}current{% endif %}">Donate</a></li>
          </ul>

        </nav>

      </section><!--header-->

  		{{content}}

  	  <section class="footer">

    		<a href="{{site.baseurl}}/">
          <img class="large-logo footer-logo" src="{{site.baseurl}}/fonts/logos/large-white.svg" alt="">
          <img class="small-logo footer-logo" src="{{site.baseurl}}/fonts/logos/logo-white.svg" alt="">
        </a>
        
    		<ul>
          <li><a href="https://twitter.com/ucsusa"><i class="social icon-twitter"></i></a></li>
    			<li><a href="https://www.facebook.com/unionofconcernedscientists"><i class="social icon-facebook"></i></a></li>
    		</ul>

  	  </section><!--footer-->

  	</div><!--sliding-canvas-->
  </div><!--site-wrapper-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
</body>
</html>