<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} • {% endif %}UCS • USA</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
</head>
<body class="noscript">
  <div class="site-wrapper" data-state="slide-closed">
    <div class="sliding-canvas">

      <section class="header">

        <a href="{{site.baseurl}}/donate/"><h3 class="donate-text">Donate</h3></a>

        <h1><a href="{{site.baseurl}}/index/"><img src="{{site.baseurl}}/fonts/logo-black.svg" alt=""></a></h1>

        <a class="toggle-btn" href="#"><i class="i-menu"></i><span>Menu</span></a>

        <nav class="navigation slide-menu">
          
          <a class="close-btn" href="#"><i class="i-close"></i><span>Close</span></a>

          <ul>
              <li><a href="{{site.baseurl}}/">Home</a></li>
              <li><a href="{{site.baseurl}}/ourwork/">Our Work</a></li>
              <li><a href="{{site.baseurl}}/about/">About</a></li>
              <li><a href="{{site.baseurl}}/takeaction/">Take Action</a></li>
              <li><a href="{{site.baseurl}}/subcribe/">Subscribe</a></li>
              <li><a href="{{site.baseurl}}/donate/" class="donate-color">Donate</a></li>
          </ul>

        </nav>

      </section><!--header-->

  		{{content}}

  	  <section class="footer">

    		<img class="footer-logo" src="{{site.baseurl}}/fonts/logo-black.svg" alt="">

    		<ul>
    			<li><a href="#"><img class="social" src="http://placehold.it/50x50" alt=""></a></li>
    			<li><a href="#"><img class="social" src="http://placehold.it/50x50" alt=""></a></li>
    			<li><a href="#"><img class="social" src="http://placehold.it/50x50" alt=""></a></li>
    			<li><a href="#"><img class="social" src="http://placehold.it/50x50" alt=""></a></li>
    		</ul>

  	  </section><!--footer-->

  	</div><!--sliding-canvas-->
  </div><!--site-wrapper-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
</body>
</html>